{{ form_start(form, {'attr': {'class': 'form-container'}}) }}
    <h2 class="form-title">{{ title|default('Commentaire') }}</h2>

    <div class="form-group">
        {{ form_label(form.article) }}
        {{ form_widget(form.article, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.article) }}
    </div>

    <div class="form-group">
        {{ form_label(form.author) }}
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.author) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}
    </div>

    <div class="form-actions mt-4">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('app_comment_index') }}" class="btn btn-outline-secondary">Annuler</a>
    </div>
{{ form_end(form) }}